# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# DataSphere360_Ecommerce_Intelligence_Project
projects/DataSphere360_Ecommerce_Intelligence_Project/DataSphere360_in_dev
projects/DataSphere360_Ecommerce_Intelligence_Project/DataSphere360_in_dev/output/
projects/DataSphere360_Ecommerce_Intelligence_Project/DataSphere360_in_prod/output/
projects/DataSphere360_Ecommerce_Intelligence_Project/DataSphere360_raw


#Machine-Learning-Labs
projects/Machine-Learning-Labs/00_ML_Template
projects/Machine-Learning-Labs/13_ML_Template
projects/Machine-Learning-Labs/14_ML_Projects
projects/Machine-Learning-Labs/_practices
projects/Machine-Learning-Labs/toools
projects/Machine-Learning-Labs/Exercices_ML_Cas_Entreprise.md
projects/Machine-Learning-Labs/Erman_V2_test_2.ipynb


# Data-Scientist-Labs
projects/Data-Scientist-Labs/DataSphere360_in_dev
projects/Data-Scientist-Labs/_practices
projects/Data-Scientist-Labs/DataSphere360_raw
projects/Machine-Learning-Labs/01_Simple_Linear_Regression/Simple-Linear-Regression_project-1.ipynb
projects/Machine-Learning-Labs/01_Simple_Linear_Regression/FuelConsumption-Co2-prediction/model/Simple-Linear-Regression.ipynb
projects/Machine-Learning-Labs/01_Simple_Linear_Regression/FuelConsumption-Co2-prediction/notebook/Simple-Linear-Regression.ipynb
projects/Machine-Learning-Labs/01_Simple_Linear_Regression/FuelConsumption-Co2-prediction/notebook/Labo.ipynb
projects/Machine-Learning-Labs/01_Simple_Linear_Regression/FuelConsumption-Co2-prediction/notebook/.ipynb_checkpoints
projects/Machine-Learning-Labs/01_Simple_Linear_Regression/FuelConsumption-Co2-prediction/MAITRE.MD
projects/Machine-Learning-Labs/01_Simple_Linear_Regression/FuelConsumption-Co2-prediction/organisation_framework_env.md
projects/Machine-Learning-Labs/01_Simple_Linear_Regression/Simple-Linear-Regression_project-1.ipynb
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/Model_Train_Marketing_Budget_vs_Site_Web_Trafic/model/Simple-Linear-Regression.ipynb
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/Model_Train_Marketing_Budget_vs_Site_Web_Trafic/notebook/Labo.ipynb
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/Model_Train_Marketing_Budget_vs_Site_Web_Trafic/notebook/NOTES.MD
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/Model_Train_Marketing_Budget_vs_Site_Web_Trafic/notebook/.ipynb_checkpoints
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/Model_Train_Marketing_Budget_vs_Site_Web_Trafic/Exercices_ML_Cas_Entreprise.md
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/Model_Train_Marketing_Budget_vs_Site_Web_Trafic/MAITRE.MD
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/Model_Train_Marketing_Budget_vs_Site_Web_Trafic/organisation_framework_env.md

projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/salary_prediction_model/model/.ipynb_checkpoints
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/salary_prediction_model/model/Labo.ipynb
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/salary_prediction_model/notebook/Labo.ipynb
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/salary_prediction_model/notebook/.ipynb_checkpoints
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/salary_prediction_model/Exercices_ML_Cas_Entreprise.md
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/salary_prediction_model/MAITRE.MD
projects/Machine-Learning-Labs/02_Multiple_Linear_Regression/salary_prediction_model/organisation_framework_env.md

assignments/AI:ML Mathematics Quiz Questions probabilities/Answers to Assignment4.ipynb
assignments/AI:ML Mathematics Quiz Questions probabilities/Assignment 4.ipynb
assignments/listes-boucles-/Assignment 1 LogicMojo.ipynb
assignments/numpy_pandas_/CHEATSHEET_q8_.fillna_.ma().md
assignments/numpy_pandas_/CHEATSHEET_q11_.fillna_.ma().md
assignments/numpy_pandas_/CHEATSHEET_q15_.fillna_.ma().md
assignments/Assignment 1 LogicMojo_jour4_.ipynb
assignments/Assignment 2+3 LogicMojo_jour_7.ipynb
assignments/Assignment 3 LogicMojo_jour_11_12.ipynb


module_resumes/Module4_5_Master_Notebook.ipynb
practice/LogicMojo_AIML_Surprise_Test (3).docx
ressources/bloc_2_MATHS_STATS_/Module4_5_Master_Notebook.ipynb



projects/Machine-Learning-Labs/01_Simple_Linear_Regression/FuelConsumption-Co2-prediction/model/Simple-Linear-Regression_project-1.ipynb
projects/Machine-Learning-Labs/01_Simple_Linear_Regression/FuelConsumption-Co2-prediction/notebook/Simple-Linear-Regression_project-1.ipynb

projects/Machine-Learning-Labs/01_Simple_Linear_Regression/FuelConsumption-Co2-prediction/notebook_lab

#GIT COMMANDS
# 1. Supprimez tout le cache de Git (sans supprimer vos fichiers réels)
#git rm -r --cached .

# 2. Ajoutez à nouveau tous les fichiers (le .gitignore sera appliqué)
#git add .

# 3. Créez un commit pour enregistrer le nettoyage
#git commit -m "Mise à jour du cache .gitignore"

# 4. Poussez les modifications vers votre dépôt distant
#git push

