notebook_lab/Exercices_ML_Cas_Entreprise.md
notebook_lab/MAITRE.MD
notebook_lab/organisation_framework_env.md
notebook/data_cleaning_evolution.md
notebook/Module4_5_Master_Notebook.ipynb
notebook/Library.xlsx
notebook/NOTES.MD